<div style="margin: 0" class="fixed-top">
  <div class="container-fluid" style="border-bottom: 1px solid lightgray">
    <div class="row flex-fill ">
      <div class="col">
        <app-home-button></app-home-button>
      </div>

      <div class="col br  align-self-center text-center">
        <app-search-block></app-search-block>
      </div>

      <div class="col br align-self-center text-center">
        <app-share-networks></app-share-networks>

    </div>
    <div class="col text-center align-self-center ">
      <app-user-and-language [userEmail]="userEmail" [userName]="userName" [photoLink]="photoLink"></app-user-and-language>
    </div>
  </div>
</div>
