<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SportHub</title>
</head>
<body>
<app-header></app-header>
<leftside-menu></leftside-menu>
<div class="main-body">
  <h6 style="padding-top:4%; margin-left: 25%; position:relative; color: #E02232">{{relativePath}}</h6>
  <div class="article-preview" *ngIf="!noArticles">
    <div class="image-card">
      <div class="article-image">
        <img src="../../assets/images/userPhoto.jpg" width=100% height="400px" alt="">
      </div>
      <div class="card" style="width: 350px;height: 200px;">
        <div class="card-body">
          <h6 style="color:gray; font-size: 10px">Published on {{activeArticle.publishedDate}}</h6>
          <br>
          <h6 style="color:#E02232;font-size: 14px">{{activeArticle.caption}}</h6>
          <br>
          <h5 style="font-size:20px; color:black;">{{activeArticle.title}}</h5>
          <app-white-small-button textButton="More" (click)="goToArticle(activeArticle.id)"></app-white-small-button>
        </div>

        <div class="buttons">
          <a class="next" (click)="pageDown()">&#8249;</a>
          <h5 style="margin-left: 15px; margin-right: 15px; text-decoration: none; display: inline-block;">  {{page}}  </h5>
          <a class="next" (click)="pageUp()">&#8250;</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
