.article-preview {
  margin-left: 25%;
}

.article-preview p {
  margin-top: 3%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: black;
}

.image-card {
  position: relative;
}

.article-image {
  width: 65%;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  border-radius: 0;
  border: 0;
  background-color: whitesmoke;
  margin-top: 7%;
  margin-left: 55%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.pages-controller {
  margin-left: 50%;
  margin-top: 7%;
}

button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.arrows {
  height: 10px;
  width: 10px;
}

.arrows:hover {
  filter: invert(8%) sepia(100%) saturate(7370%) hue-rotate(354deg) brightness(111%) contrast(106%)
}

.revert {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
}
li{
  margin-top:1%;
}

.articles-buttons{
  border: 0.5px solid transparent;
  display: block;
  width: 100%;
}

.articles-buttons:hover{
  text-decoration: none;
  border: 0.5px solid #E02232;
}

.third-section{
  margin-top: 3%;
}

.most-commented{
  width: 100%;
  display:block;
  border: 0.5px solid lightgray;
}

.most-commented:hover{
  text-decoration: none;
  border: 0.5px solid #E02232;
}
