<div>
  <img src="assets/images/userPhoto.jpg" alt="User photo">

  <div class="o btn-group">
    <button type="button" class="btn btn-light" disabled>{{userName}}</button>
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu dropdown-menu-right">

      <h1 class="dropdown-header">{{userName}}</h1>
      <p class="dropdown-header">{{userEmail}}</p>

      <div class="dropdown-divider"></div>

      <a class="dropdown-item" href="/personal_page">View Profile</a>
      <a class="dropdown-item" href="#">Change password</a>
      <a class="dropdown-item" href="#">My surveys</a>
      <a class="dropdown-item" href="#">Team hub</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">Log out</a>


    </div>
  </div>

</div>
