# Java Builds
target/
build/
bin/
.idea/
.gradle/
.classpath
log/

# WebUI Builds
tmp/
src/main/resources/static/

# WebUI dependencies
node_modules/
bower_components/

# IDEs and editors
**/.idea
**/*.iml
**/.vscode
.settings/

# misc
**/.sass-cache
**/npm-debug.log
typings/

#System Files
**/.DS_Store
**/.project
**/.settings
**/.classpath
**/.metadata
**/Thumbs.db

src/main/resources/application.properties
*.gz
