<div class="row">
  <div class="col">Share</div>
  <div class="col">
    <a href="https://facebook.com" target="_blank">
      <img src="assets/icons/facebook_logo.png" alt="facebook_logo">
    </a>
  </div>
  <div class="col">
    <a href="https://twitter.com" target="_blank">
      <img src="assets/icons/twitter_logo.png" alt="twitter_logo">
    </a>
  </div>
  <div class="col">
    <a href="https://instagram.com" target="_blank">
      <img src="assets/icons/instagram_logo.png" alt="instagram_logo">
    </a>
  </div>

</div>
