<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v14.0" nonce="4UwhYX8J"></script>

<div class="row">
  <div class="col">Share</div>
  <div class="col">
    <div class="fb-share-button" data-href="http://localhost:8000/personal_page" data-layout="button" data-size="small">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8000%2Fpersonal_page&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
        <img src="assets/icons/facebook_logo.png" alt="facebook_logo">
      </a>
    </div>
  </div>
  <div class="col">

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" target="_blank">
      <img src="assets/icons/twitter_logo.png" alt="twitter_logo">
    </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
  <div class="col">
    <a href="https://www.linkedin.com/shareArticle?mini=true&summary=youtube&title=f1&url=http://localhost:8000/" target="_blank">
      <img src="assets/icons/linkedIn_logo.png" alt="instagram_logo">
    </a>
  </div>

</div>
