<div class="logo">
  Sports Hub
</div>
<div class="fake_div"></div>
<div class="admin_header_menu">
  <div class="switch">
    <img src="assets/icons/switch.svg">
  </div>
  <div class="admin_data">
    <img [src]="adminIcon" class="admin_icon">
    <div class="admin_name">
      <p class="name">{{adminName}}</p>
      <p class="role">Administrator</p>
    </div>
    <img class="show_more" src="assets/icons/showMore.svg">
  </div>
  <div class="language">
    <p class="lang">{{language}}</p>
    <img class="show_more" src="assets/icons/showMore.svg">
  </div>
</div>
