/* You can add global styles to this file, and also import other style files */
.html, body {
  margin: 0;
  padding: 0;
}

body{
  padding: 0;
  margin: 0;
}

app-login{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

app-input{
  display: flex;
  flex-direction: column;
}

app-header-admin{
  display: flex;
  justify-content: space-between;
  height: 83px;
  border-bottom: #EDEDED solid 1px;
}

app-teams-header{
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D4D9E2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
