.teams, .add_team_button{
}
.teams{
  margin-left: 101px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-transform: capitalize;
  color: #000000;
}
.add_team_button{
  width: 134px;
  height: 32px;
  background-color: #C63638;
  border: none;
  margin-right: 101px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
