<div class="menu">
  <div class="icon"><img src="assets/icons/adminMenu/Banners.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/Footer.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/Group 147.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/IA.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/Langueges.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/My users.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/News partnerds.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/Shares.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/Surveys.svg"></div>
  <div class="icon"><img src="assets/icons/adminMenu/teams.svg"></div>
</div>
