<div class="menu">
  <div class="icon"><img [src]="surveys_image"></div>
  <div class="icon"><img [src]="banners_image"></div>
  <div class="icon"><img [src]="languages_image"></div>
  <div class="icon"><img [src]="footer_image"></div>
  <div class="icon"><img [src]="shares_image"></div>
  <div class="icon"><img [src]="users_image"></div>
  <div class="icon"><img [src]="ia_image"></div>
  <div class="icon"><img [src]="teams_image"></div>
  <div class="icon"><img [src]="partners_image"></div>
  <div class="icon"><img [src]="last_image"></div>
</div>
