button{
  width: 200px;
  height: 42px;
  background-color: #D72130;
  border: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.8px;
  text-transform: uppercase;

  color: #FFFFFF;
}
button:hover{
  background-color: #E02232;
}
button:active{
  background-color: #C80515;
}
/*footer{*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  height: auto;*/
/*}*/
