<div *ngIf="preview == false">
  <div class="container-fluid" style="border-bottom: 0.5px solid lightgray">
    <div class="row">
      <div class="col-md-3" style="margin-left:0;padding-left: 0;">
        <app-home-button></app-home-button>
      </div>
      <div class="col-md-2 offset-md-7" style="margin-right:0;padding-right: 0;float:right;">
        <app-user-header-menu [userEmail]="userEmail" [userName]="userName"></app-user-header-menu>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="border-bottom: 1px solid lightgray;">
    <div class="row">
      <div class="col-md-3 align-self-center">
        <h2>{{title}}</h2>
      </div>
      <div class="col-md-4 offset-md-5 align-self-center">
        <app-white-small-button textButton="Cancel" (click)="cancelChanges()"></app-white-small-button>
        <app-white-small-button textButton="Save" (click)="saveArticle()"
                                style="padding-left: 10px;"></app-white-small-button>
        <app-white-small-button textButton="Preview mode" (click)="previewArticle()"
                                style="padding-left: 10px;"></app-white-small-button>
      </div>
    </div>
  </div>

  <div class="category-selector">
    <ul>
      <li *ngFor="let category of categories">
        <button (click)="handleCategoryChanges(category)">{{category.name}}</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-2">
      <app-left-side-menu-admin></app-left-side-menu-admin>
    </div>
    <div class="col">
      <div class="add-article" *ngIf="selectedCategoryId != -1">
        <div class="row">
          <div class="col-sm-4 subcategories">
            <h6>Subcategory</h6>
            <select [(ngModel)]="selectedSubcategoryId" (ngModelChange)="handleSubcategoryChanges($event)"
                    name="Subcategory" id="subcategory">
              <option value=-1 selected>Not selected</option>
              <option *ngFor="let subcategory of subcategories" [ngValue]=subcategory.id>{{subcategory.name}}</option>
            </select>
          </div>
          <div class="col-sm-4 teams">
            <h6>Team</h6>
            <select [(ngModel)]="selectedTeamId" (ngModelChange)="handleTeamChanges($event)" name="Team">
              <option value=-1 selected>Not selected</option>
              <option *ngFor="let team of teams" [ngValue]=team.id>{{team.name}}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <h6>Language</h6>
            <select [(ngModel)]="language" (ngModelChange)="handleLanguageChanges($event)" name="language">
              <option value="English" selected>English</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-input typeInput="text" nameField="Article headline" placeholder="Name" id="headline"
                       [value]="headline"></app-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-input typeInput="text" nameField="Caption" placeholder="Write caption here" id="caption"
                       [value]="caption"></app-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="md-form">
              <h6>Content</h6>
              <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control"
                        [(ngModel)]="articleContent"></textarea>
              <p style="color: red" *ngIf="errorMessage">Headline, caption and content must not be empty!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col comment-switcher">
            <h6>Comments: </h6>
            <h6 *ngIf="!commentable" style="margin-left: 5px;">Hide</h6>
            <h6 *ngIf="commentable" style="margin-left: 5px;">Show</h6>
            <button *ngIf="commentable" (click)="commentable = !commentable" style="margin-left: 5px;"><img src="../../assets/icons/activeSwitcher.svg"></button>
            <button *ngIf="!commentable" (click)="commentable = !commentable" style="margin-left: 5px;"><img src="../../assets/icons/switcher.svg"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="preview">
  <app-header></app-header>
  <leftside-menu></leftside-menu>
  <div class="article-preview">
    <div class="image-card">
      <div class="article-image">
        <img src="../../assets/images/userPhoto.jpg" width=100% height="400px" alt="">
        <p [innerHtml]="previewMode"></p>
      </div>
      <div class="card" style="width: 350px;height: 200px;">
        <div class="card-body">
          <br>
          <h6 style="color:gray;">Published on {{publishedDate}}</h6>
          <br>
          <h6 style="color:#E02232;">{{caption}}</h6>
          <br>
          <h5 style="font-size:20px; color:black;">{{headline}}</h5>
          <p (click)="backToEditor()">Go back to editor</p>
        </div>
      </div>
    </div>

  </div>
</div>

