<div class="leftside-menu" (clickOutside)="clickedOut()">
  <div class="sidenav">
    <ul class="menuItems firstMenu">
      <li *ngFor="let item of menuItems">
        <input type="radio" id="{{item.id}}" name="firstMenu"/>
        <label for="{{item.id}}" class="button" (click)="showSecondMenu(item.id, item.name)">{{item.name}}</label>
      </li>
    </ul>
  </div>

  <div class="sidenavSecondMenu" *ngIf="secondMenuVisible">
    <ul class="menuItems secondMenu">
      <li *ngFor="let secondItem of secondMenuItems">
        <input type="radio" id="{{secondItem.id}}" name="secondMenu" />
        <label for="{{secondItem.id}}" class="button" (click)="showThirdMenu(secondItem.id, secondItem.name)">{{secondItem.name}}</label>
      </li>
    </ul>
  </div>

  <div class="sidenavThirdMenu" *ngIf="thirdMenuVisible">
    <ul class="menuItems secondMenu">
      <li *ngFor="let thirdItem of thirdMenuItems">
        <input type="radio" id="{{thirdItem.id}}" name="thirdMenu"/>
        <label for="{{thirdItem.id}}" class="button" (click)="handleThirdMenuClick(thirdItem.id, thirdItem.name)">{{thirdItem.name}}</label>
      </li>
    </ul>
  </div>
</div>




