<div class="mat-elevation-z8">
  <table mat-table [dataSource]="teams" class="mat-elevation-z8">
    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef class="column_name">
        TEAMS
        <img src="/assets/icons/filter.svg">
      </th>
      <td mat-cell *matCellDef="let teams"> {{teams.name}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef class="column_name">
        LOCATION
        <img src="/assets/icons/filter.svg">
      </th>
      <td mat-cell *matCellDef="let teams"> {{teams.location}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="addedAt">
      <th mat-header-cell *matHeaderCellDef class="column_name">ADDED AT</th>
      <td mat-cell *matCellDef="let teams"> {{teams.addedAt}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef class="column_name">CATEGORY</th>
      <td mat-cell *matCellDef="let teams"> {{teams.category}} </td>
    </ng-container>

    <ng-container matColumnDef="subcategory">
      <th mat-header-cell *matHeaderCellDef class="column_name">SUBCATEGORY</th>
      <td mat-cell *matCellDef="let teams"> {{teams.subCategory}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons" *ngIf="visible">
      <th mat-header-cell *matHeaderCellDef class="column_name" id="btns"></th>
      <td mat-cell *matCellDef="let teams" id="btns" >
        <div class="buttons" *ngIf="visible">
          <span>Edit</span>
          <img src="assets/icons/delete.svg">
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected]="row.selected"
    (click)="showButtons(row)">></tr>
  </table>
  <div class="navigation">
    <div class="pages">
      <div><</div>
      <div *ngFor="let page of pagesStructure.pages" (click)="changePage($event.target)" [class]="getClass(page)">{{page}}</div>
      <div>></div>
      <div>{{(currentPage - 1) * selectedResultPerPage + 1}} - {{maxResult()}} of {{teamsCount}} results</div>
    </div>
    <div class="per_page">
      <div>Result per page</div>
      <mat-form-field floatLabel="never">
        <mat-select [value]="selectedResultPerPage" [(ngModel)]="selectedResultPerPage" (ngModelChange)="changeCount()">
          <mat-option *ngFor="let option of pagesStructure.resultsPerPage" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

