<div id='left_side'>
  <img src="assets/LoginPage.png">
  <div id="logo_container">
    SportsHub
  </div>
</div>
<div id='right_side'>
  <div id='link_to_registration'>
    <div id='small_text'>Don`t have an account?</div>
    <app-white-small-button textButton="Get Started"></app-white-small-button>
  </div>
  <div id="login_block">
    <h4>Log in to Sports Hub</h4>
    <div id="social_networks">
      <a href="">
        <img class="social_network_icon" src="../../assets/FB.svg" href="google.com">
      </a>
      <a href="">
        <img class="social_network_icon" src="../../assets/Gmail.svg" href="">
      </a>
    </div>
    <form class="form" (ngSubmit)="login()">
      <span id="error" [style]="errorVisible">Incorrect user ID or password. Try again.</span>
      <!-- <span id="success" [style]="successVisible">Incorrect user ID or password. Try again.</span> -->
      <app-input typeInput="email" nameField="email" placeholder="Email@gmail.com" id="email"></app-input>
      <app-input typeInput="password" nameField="password" placeholder="8 + characters (letters and numbers)" forgotPassword="display: block" id="password"></app-input>
      <app-large-button textButton="Log in"></app-large-button>
    </form>
  </div>
</div>
